<div class="wrapper">
  <div class="categories_container">
    <app-categories></app-categories>
  </div>
  <div class="products_container">
    <div class="products">
      <div *ngFor="let product of products, index as productId" class="product_item">
        <div *ngIf="product.category == category.name || product.category == 'Все категории'">
        <img src="{{product.image}}" alt="">
        <h4>
          <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
          </a>
        </h4>
        <h4 class="product_price">Цена: {{product.price}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
